.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .login-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 320px;
        padding: 80px;
        background: #0e449d26;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 6px 6px 20px #888888;
    }
    
    .login-block h1 {
        text-align: center;
        color: #000;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .login-block input {
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 1rem;
        padding: 0 20px 0 30px;
        outline: none;
        color: white;
        font-weight: bold;
    }
    
    .login-block input {
        background: rgba(12, 22, 80, 0.407);
    }

    .login-block input:active, .login-block input:focus {
        border: 1px solid #392e8c;
    }
    
    .login-block button {
        width: 30%;
        height: 40px;
        background: hsl(227, 54%, 39%, 0.75);
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        outline: none;
        cursor: pointer;
    }
    
    .login-block button:hover {
        background: hsl(216, 62%, 55%, 0.7);
        color: black;
    }

    .login-block input::placeholder {
        color: white;
        font-size: 0.9rem;
    }

    p {
        font-weight: bold;
        margin-top: 30px;
    }

    p:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }

    
}